<h1>ポジション一覧 - <%= @date %></h1>

<% @schedules_by_time_slot.each do |time_slot, schedules| %>
  <h2><%= Schedule::TIME_SLOTS[time_slot]&.first || '未定義のタイムスロット' %></h2>
  <table>
    <tr>
      <th>ポジション名</th>
      <th>キャスト名</th>
    </tr>
    <% @positions.each do |position| %>
      <tr>
        <td><%= t("activerecord.attributes.position.#{position.position_name}") %></td>
        <td>
          <% assigned_cast = schedules.find { |schedule| schedule.position_id == position.id } %>
          <%= assigned_cast ? assigned_cast.cast.full_name : '' %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>