<div class="wrapper">
  <div class="side-bar">
    <%= render "side_bar" %>
  </div>
  <turbo-frame id="main-view">
    <div class="main-view">
      <%= render "main_view" %>
    </div>
  </turbo-frame>
</div>