/* ----------------------------------------------------------------- */
/* サイドバー*/
/* ----------------------------------------------------------------- */
.wrapper {
  display: flex;
}

.side-bar {
  background-color: #9dc1f1;
  width: 300px;
  height: 100vh;
  overflow: scroll;
}

.main-content {
  background-color: #ffffff;
  width: calc(100vw - 300px);  
}

.side-bar-discription {
  width: 300px;
  height: 100vh;
  padding: 0 20px;
}

.schedules,.positions,.casts {
  width: 100%;
  padding: 20px 20px;
}

.schedule-title,.position-title,.cast-title{
  font-size: 20px;
}

.schedule,.position{
   padding:  0 0 0 45px;
}

.schedule-name,.position-time,.cast-name{
  margin-top: 20px;
}

.cast{
  height: 350px;
  padding:  0 0 0 45px;
  overflow: auto;
}

/* ----------------------------------------------------------------- */
/* positions */
/* ----------------------------------------------------------------- */

.positions-index{
  background-color:#9dc1f1 ;
  overflow: scroll;
  height: 100vh;
}

.positions-index-title{
  text-align: center;
  color: brown;
}

.index-schedules{
  display: flex;
  flex-wrap: wrap;
}

.index-schedule{
  flex: 1 1 48%; /* flex-grow, flex-shrink と flex-basis を設定 */
  margin-right: 20px; /* 隣接する表との間隔 */
  margin-bottom: 20px; /* 下の行の表との間隔 */
}

.index-schedule-timeslot{
  text-align: center;
}

.index-brake-title{
  text-align: center;
}

/* .position-index-th {
  font-family: 'Noto Sans JP', sans-serif;
  
} */

.position-index-td {
  font-family: 'Noto Sans JP', sans-serif;
}

.position-index-btn {
  font-family: 'Noto Sans JP', sans-serif;
}
.index-schedule table{
  border: 3px solid rgb(111, 101, 202);
  border-collapse: collapse;
}

.index-schedule th, .index-schedule td {
  border: 1px solid rgb(111, 101, 202); /* セルの枠線の色と太さを設定 */
  background-color: #9ef1ea ;
}

/* ----------------------------------------------------------------- */
/* workdays */
/* ----------------------------------------------------------------- */