.casts-index {
  background-color:#9dc1f1 ;
  width: calc(100vw - 300px);  
  height: 100vh;
  overflow: auto;
}

.cast-index-title{
  text-align: center;
  color: brown;
}
.casts-index-casts{
border: #4a74e9 double 10px ;
border-radius: 5%;
background-color: #bdd5f5;
padding: 5%;
margin: 3%;
}

.casts-index-casts{
  
  
}

.cast-on{
  margin: 30px 0 30px 20%;
}

.cast-image {
  width: 200px;
  height: 200px;
  object-fit: cover; 
}

.casts-index-casts th, .casts-index-casts td {
  border: 1px solid rgb(1, 1, 2); /* セルの枠線の色と太さを設定 */
  background-color: #9ef1ea ;
  font-family: 'Noto Sans JP', sans-serif;
}

.casts-index-casts table{
  width: 85%;
  border: 3px solid rgb(111, 101, 202);
  border-collapse: collapse;
  font-family: 'Noto Sans JP', sans-serif;
}

table {
  margin: 20px auto 0 auto;
  width: 60%; 
  border-collapse: collapse; 
  text-align: center; 
}

th, td {
  border: 1px solid #ddd; 
  padding: 8px; 
}

th {
  background-color: #f2f2f2; 
  color: black; 
}