/* ----------------------------------------------------------------- */
/* ログイン画面 */
/* ----------------------------------------------------------------- */
.login-main{
  background-color: #9dc1f1;
  overflow: scroll;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box{
  background-color: #e8f2ff;
  border: 50px double #9dc1f1;
  border-radius: 5%;
  height: 80%;
  width: 80%;
  
}


.login-title{
  margin-top:  -25px;;
  color: brown;
  text-align: center;
  font-size: 35px;
  
}

.login-forms{
  /* border: 1px solid; */
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}


.login-font{
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.login-action{
  text-align: center;
  margin: 30px 0px;
  
  font-size: 20px;
}

.device-link{
  margin: 10px 0px;
}
/* ----------------------------------------------------------------- */
/* サインイン画面 */
/* ----------------------------------------------------------------- */

.resistrations-main{
  background-color: #9dc1f1;
  overflow: scroll;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resistration-box{
  background-color: #e8f2ff;
  border: 50px double #9dc1f1;
  border-radius: 5%;
  height: 80%;
  width: 80%;
  padding-top: 0px;
  
}

.resistration-title{
  margin-top: -25px;
  color: brown;
  text-align: center;
  font-size: 35px;
  height: auto;
}

.resistration-forms{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  
}

.resistration-photo{
  font-size: 20px;
  margin-bottom: 20px;
  text-align:center
}

.resistration-font{
  font-size: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
}

.ID-Email,.familyname-firstname,.resistration-Passwords{
  display: flex;
  justify-content: space-between;
}

.resistration-action{
  text-align: center;
  margin: 15px 0px;
  
  font-size: 20px;
}

.resistration-title-photo{
  display: flex;
  justify-content: center;
}

.registration-image{
  height: 150px; /* 写真の想定サイズに合わせて調整してください */
  width: 200px; /* 幅も同様に調整 */
  text-align: center;
  margin-bottom: 20px; /* 下部の余白も調整 */
  overflow: hidden;
}

.registration-image img {
  max-width: 100%; /* コンテナの幅に合わせて画像を拡大/縮小 */
  max-height: 100%; /* コンテナの高さに合わせて画像を拡大/縮小 */
  object-fit: contain; /* 画像の比率を維持しつつ、コンテナに合わせて最適なサイズに調整 */
}

/* ----------------------------------------------------------------- */
/* エディット画面 */
/* ----------------------------------------------------------------- */
.edit-main{
  background-color: #9dc1f1;
  overflow: scroll;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-box{
  background-color: #e8f2ff;
  border: 50px double #9dc1f1;
  border-radius: 5%;
  height: 80%;
  width: 80%;
  padding-top: 0px;
  
}

.edit-title{
  margin-top: -25px;
  color: brown;
  text-align: center;
  font-size: 35px;
  height: auto;
}

.edit-title-name{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
}

.edit-title-photo{
  display: flex;
  justify-content: center;
}

.edit-user-name{
  margin-top: -30px;
  margin-bottom: 10px;
  color: rgb(206, 83, 83);
  text-align: center;
  font-size: 30px;
  height: auto;
}

.edit-forms{

  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
  
}

.edit-photo{
  font-size: 20px;
  margin-bottom: 20px;
  text-align:center
}

.edit-font{
  font-size: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
}

.edit-email-pass,.edit-new-password{
  display: flex;
  justify-content: space-between;
}

.edit-action{
  text-align: center;
  margin: 15px 0px;
  
  font-size: 20px;
}

.edit-image{
  height: 150px; /* 写真の想定サイズに合わせて調整してください */
  width: 200px; /* 幅も同様に調整 */
  text-align: center;
  margin-bottom: -15px; /* 下部の余白も調整 */
  overflow: hidden;
}

.edit-image img {
  max-width: 100%; /* コンテナの幅に合わせて画像を拡大/縮小 */
  max-height: 100%; /* コンテナの高さに合わせて画像を拡大/縮小 */
  object-fit: contain; /* 画像の比率を維持しつつ、コンテナに合わせて最適なサイズに調整 */
}
