<h1><%= @cast.full_name %>の勤務日</h1>

<ul>
  <% @workdays.each do |workday| %>
    <li><%= link_to workday.date, workday_path(workday) %></li>
    <%= workday.start_time.strftime("%H:%M") %> - <%= workday.end_time.strftime("%H:%M") %>
  <% end %>
</ul>