<div class="side-bar">
  <div class="side-bar-discription">  
    <div class="schedules">
      <a href="#" class="schedule-title">スケジュール</a>
      <div class="schedule">
        <div class="schedule-name">
          <a href="#">・本日</a>
        </div>
        <div class="schedule-name">
          <a href="#">・◯月✕日（明日）</a>
        </div>
        <div class="schedule-name">
          <a href="#">・◯月✕日（明後日）</a>
        </div>
      </div>
    </div>
    <div class="positions">
      <a href="#" class="position-title">ポジション表示</a>
      <div class="position">
        <div class="position-time">
          <a href="#">~9:00</a>
        </div>
        <div class="position-time">
          <a href="#">11:00~13:00</a>
        </div>
        <div class="position-time">
          <a href="#">13:00~15:00</a>
        </div>
        <div class="position-time">
          <a href="#">15:00~17:00</a>
        </div>
        <div class="position-time">
          <a href="#">17:00~19:00</a>
        </div>
        <div class="position-time">
          <a href="#">19:00~21:00</a>
        </div>
        <div class="position-time">
          <a href="#">21:00~</a>
        </div>
      </div>
    </div>
    <div class="casts">
        <a href="<%= casts_path %>" class="cast-title" >キャスト一覧</a>
      <div class="cast">
        <div class="cast-name">
          <a href="">・ネコさん</a>
        </div>
        <div class="cast-name">
          <a href="">・イヌさん</a>
        </div>
        <div class="cast-name">
          <a href="">・アヒルさん</a>
        </div>
        <div class="cast-name">
          <a href="">・ウサギさん</a>
        </div>
        <div class="cast-name">
          <a href="">・サメさん</a>
        </div>
        <div class="cast-name">
          <a href="">・オオカミさん</a>
        </div>
        <div class="cast-name">
          <a href="">・キツネさん</a>
        </div>
        <div class="cast-name">
          <a href="">・ヒツジさん</a>
        </div>
        <div class="cast-name">
          <a href="">・ライオンさん</a>
        </div>
        <div class="cast-name">
          <a href="">・シャチさん</a>
        </div>
      </div>
    </div>    
  </div>
</div>